.container{
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  padding: 10px 30px;
  background-color: lightgreen;
  border: none;
  cursor: pointer;
}
input{
  padding: 10px;
}
.deleteBtn{
  background-color: red;
  padding: 10px 15px;
}
.todo-list{
  margin-top: 10px;
  display: grid; 
  grid-template-columns: 200px 135px 85px; /*This is how many colums in the grid*/
  justify-content: space-between;
  row-gap: 8px;
  align-items: baseline;
}

@media (max-width:500px) {
  .container{
    left: 6%;
  }
  .addBtn{
    margin-top: 20px;
  }
  .todo-list{
    grid-template-columns: auto auto auto;
  }
}
